[Unit]
Description=input method

[Service]
Type=simple
# Environment="DISPLAY=:1"
# Environment="XAUTHORITY=/home/adabru/.Xauthority"
ExecStart=/home/adabru/repo/eyeput/main.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
