[Unit]
Description=speech control status widget

[Service]
Type=simple
ExecStart=/home/adabru/repo/speech_commands/run/speechwindow.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
