[Unit]
Description=talonvoice

[Service]
Type=simple
# ExecStart=/home/adabru/downloads/talon-linux/talon/run.sh
ExecStart=/home/adabru/downloads/talon-linux-109-0.2.0-357-g3b3e/talon/run.sh
Restart=on-failure
RestartSec=30s
CPUWeight=8000
Nice=-20

[Install]
WantedBy=default.target
