[Unit]
Description=speech recognition and command execution

[Service]
Type=simple
ExecStart=/home/slava/speech_commands/run/sphinx.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
